.card {
  width: 300px; /* Ancho máximo de la card */
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
}

.imagen {
  max-width: 100%; /* La imagen ocupará todo el ancho del contenedor sin excederlo */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
}
