/* CardsContainer.module.css */

.container {
  background-color: #4391ac00; /* Light Blue */
  color: #006d77; /* Dark Cyan */
  border: 1px solid #83c5be; /* Teal */
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-gap: 20px;
}

/* Style for individual dog cards */
.card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style for the pagination component */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Media query for small screens */
@media screen and (max-width: 600px) {
  .filters {
    flex-direction: column;
  }

  .filters select {
    width: 100%;
    margin-bottom: 10px;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query for large screens */
@media screen and (min-width: 901px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
